*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #F3F5F8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
}

.quadrado {
    width: 540px;
    height: 503px;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: -100px;
}

.login-container h1 {
    font-size: 25px;
    font-family: inter;
    margin-left: 320px;
}

.login-container p {
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: inter;
    margin-left: 70px;
    
}

.login-container input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 255px;
    width: 22vw;
    height: 5vh;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline-color: grey;
    font-family: inter;
    padding-left: 10px;
}

.login-container button {
    width: 22vw;
    height: 5vh;
   margin-left: 255px;
    margin-top: 30px;
    border-radius: 7px;
    border: none;
    background-color: #335CFF;
    font-family: inter;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
.login-container{
    display: block;
    margin-right: -45px;
    position: relative;
}
h2{
    margin-left: 260px;
    transform: translateY(20px);
    font-family: inter;
    font-size: 15px;
    font-weight: 300px;
    
    
}
.botton button{
    background: none;
    border: none;
    margin-top: 100px;
    transform: translateX(625px);
    cursor: pointer;
}
.login-container h3{
    transform: translateX(250px);
    opacity: 0.5;
}
.sing-up-botton button{
    position: relative;
    top: 221px;
    right: 340px;
    width: 5vw;
    border: none;
    font-family: inter;
    background: none;
    font-size: 15px;
}
.login-container h4{
    transform: translateY(19px);
    margin-left: 330px;
    font-family: inter;
    opacity: 0.5;

}
.icon img{
    margin-top: 190px;
    transform: translateX(-580px);
}
.login-container h5{
    transform: translateX(280px);
    font-family: inter;
    font-size: 10px;
    margin-top: 5px;
    
}


